@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: #24292e;
    --main-foreground: 0 0% 94%; /* This is HSL in order to be able to change opacity inline */

    --accent-color: #f9826c;
    --faded-color: rgba(255, 255, 255, 0.3);

    --titlebar: #1f2428;
    --titlebar-hover: #424649;

    --actionbar: #24292e;
    --actionbar-hover: #1f2428;

    --explorer: #1f2428;
    --explorer-hover: #333e43;
    --explorer-border: #161a1d;

    /* --aboutme-css-class: #fff;
    --aboutme-css-property: #fde047;
    --aboutme-css-value: #93c5fd; */
    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #c49262;

    --contactme-css-class: #fff;
    --contactme-css-property: #fde047;
    --contactme-css-value: #93c5fd;

    --tab: #1f2428;
    --tab-active: #2e353a;
    --tab-border: #24292e;
    --tab-background: #1f2428;

    --statusbar: #16181b;
    --statusbar-hover: 240 2% 32%;
    --statusbar-border: #1b1f23;
    --statusbar-dev-remote-window: #6788cd;

    --article: #1f2428;

    --button-bg: #176f2c;
    --button-foreground: #dcffe4;

    --scrollbar-track: #24292e;
    --scrollbar-thumb: #333536;

    --terminal: #16181b;
  }

  .dark {
    --main: #24292e;
    --main-foreground: #efefef;

    --accent-color: #f9826c;

    --titlebar: #1f2428;

    --actionbar: #24292e;
    --actionbar-hover: #1f2428;

    --explorer: #1f2428;
    --explorer-hover: #24292e;
    --explorer-border: #161a1d;

    --tab: #1f2428;
    --tab-active: #24292e;
    --tab-border: #24292e;
    --tab-background: #1f2428;

    --statusbar: #24292e;
    --statusbar-hover: #4f4f52;
    --statusbar-border: #1b1f23;

    --article: #1f2428;

    --button-bg: #176f2c;
    --button-foreground: #dcffe4;

    --scrollbar-track: #24292e;
    --scrollbar-thumb: #333536;

    --terminal: #16181b;
  }
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply bg-main text-main-FOREGROUND;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #2f2c30;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-sm border-faded bg-faded brightness-105;
  }

  .titlebar-height {
    @apply h-11;
  }

  .middle-dimensions {
    height: calc(100vh - 2.75rem - 21px);
    width: 50px;
  }

  .explorer-dimensions {
    @apply w-64 min-w-[256px];
  }

  .statusbar-height {
    @apply h-[21px];
  }

  .main-height {
    @apply h-[calc(100vh-110px)];
  }

  .statusbar-button {
    @apply flex h-full cursor-pointer items-center gap-1 px-3 text-sm hover:bg-statusbar-HOVER;
  }

  .actionbar-border {
    @apply shadow-[inset_2px_0px_0px] shadow-accent;
  }

  .tab-active {
    @apply shadow-[inset_0px_-2px_0px] shadow-accent;
  }

  .terminal-placement {
    @apply bottom-6 right-0 h-[40%] w-[calc(100vw-50px-256px)] lg:w-[calc(100vw-50px)];
  }

  .undraggable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .taskbar-bg {
    backdrop-filter: blur(20.5px);
    background: rgba(3, 21, 41, 0.35);
  }

  .skill-bar:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    @apply border-b-2 border-faded md:hidden;
  }

  .numbered-row::before {
    content: attr(data-number); /* Use the data-number attribute as content */
    padding-right: 5px; /* Adjust spacing */
  }
}
