@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: 240 10% 15%;
    --main-foreground: 240 10% 85%;

    --accent-color: 220 60% 50%;

    --titlebar: 240 8% 18%;
    --actionbar: 240 7% 20%;
    --explorer: 240 8% 18%;
    --tab: 240 8% 18%;
    --statusbar: 250 5% 22%;

    --common-hover: 240 3% 25%;

    --statusbar-dev-remote-window: 261 50% 22%;

    --terminal: 250 5% 22%;

    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #c49262;

    --contactme-css-class: #ffffff;
    --contactme-css-property: #fde047;
    --contactme-css-value: #93c5fd;
    --contactme-css-alt-value: #14b14e;

    --code-class: #78b7fd;
    --code-property: #e16b7b;
    --code-value: #98c97b;
    --code-bracket: #8b99a5;
  }

  [data-theme="light"] {
    --main: 0 0% 100%;
    --main-foreground: 0 0% 10%;

    --accent-color: 9 92% 70%;

    --titlebar: 207 13% 86%;
    --actionbar: 210 12% 90%;
    --explorer: 207 13% 86%;
    --tab: 207 13% 86%;
    --statusbar: 216 10% 90%;

    --common-hover: 206 5% 95%;

    --statusbar-dev-remote-window: 221 50% 90%;

    --terminal: 216 10% 90%;

    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #c49262;

    --contactme-css-class: #000000;
    --contactme-css-property: #dbc761;
    --contactme-css-value: #93c5fd;

    --code-class: #78b7fd;
    --code-property: #e16b7b;
    --code-value: #98c97b;
    --code-bracket: #8b99a5;
  }

  [data-theme="ocean"] {
    --main: 200 50% 90%;
    --main-foreground: 200 50% 10%;

    --accent-color: 185 85% 60%;

    --titlebar: 200 30% 92%;
    --actionbar: 200 28% 95%;
    --explorer: 200 30% 92%;
    --tab: 200 30% 92%;
    --statusbar: 210 25% 95%;

    --common-hover: 200 15% 97%;

    --statusbar-dev-remote-window: 221 50% 90%;

    --terminal: 210 25% 95%;

    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #c49262;

    --contactme-css-class: #000000;
    --contactme-css-property: #1114ca;
    --contactme-css-value: #4099ff;
    --contactme-css-alt-value: #14b14e;

    --code-class: #78b7fd;
    --code-property: #e16b7b;
    --code-value: #98c97b;
    --code-bracket: #8b99a5;
  }
  [data-theme="sunset"] {
    --main: 30 60% 90%;
    --main-foreground: 30 60% 10%;

    --accent-color: 15 80% 60%;

    --titlebar: 30 40% 92%;
    --actionbar: 30 38% 95%;
    --explorer: 30 40% 92%;
    --tab: 30 40% 92%;
    --statusbar: 40 35% 95%;

    --common-hover: 30 25% 97%;

    --statusbar-dev-remote-window: 51 50% 90%;

    --terminal: 40 35% 95%;

    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #ee7300;

    --contactme-css-class: #000000;
    --contactme-css-property: #cc8323;
    --contactme-css-value: #5c6600;
    --contactme-css-alt-value: #14b14e;

    --code-class: #78b7fd;
    --code-property: #e16b7b;
    --code-value: #98c97b;
    --code-bracket: #8b99a5;
  }
  [data-theme="forest"] {
    --main: 120 40% 90%;
    --main-foreground: 120 40% 10%;

    --accent-color: 110 60% 60%;

    --titlebar: 120 20% 92%;
    --actionbar: 120 18% 95%;
    --explorer: 120 20% 92%;
    --tab: 120 20% 92%;
    --statusbar: 130 15% 95%;

    --common-hover: 120 5% 97%;

    --statusbar-dev-remote-window: 141 50% 90%;

    --terminal: 130 15% 95%;

    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #c49262;

    --contactme-css-class: #000000;
    --contactme-css-property: #1114ca;
    --contactme-css-value: #4099ff;
    --contactme-css-alt-value: #14b14e;

    --code-class: #78b7fd;
    --code-property: #e16b7b;
    --code-value: #98c97b;
    --code-bracket: #8b99a5;
  }
  [data-theme="accented dark"] {
    /* Using numbers of HSL in order to be able to change tailwind opacity inline */
    --main: 210 12% 16%;
    --main-foreground: 0 0% 94%;

    --accent-color: 9 92% 70%;

    --titlebar: 207 13% 14%;
    --actionbar: 210 12% 16%;
    --explorer: 207 13% 14%;
    --tab: 207 13% 14%;
    --statusbar: 216 10% 10%;

    --common-hover: 206 5% 27%;

    --statusbar-dev-remote-window: 221 50% 60%;

    --terminal: 216 10% 10%;

    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #c49262;

    --contactme-css-class: #ffffff;
    --contactme-css-property: #fde047;
    --contactme-css-value: #93c5fd;

    --code-class: #78b7fd;
    --code-property: #e16b7b;
    --code-value: #98c97b;
    --code-bracket: #8b99a5;
  }
  [data-theme="autumn"] {
    --main: 30 60% 85%;
    --main-foreground: 30 60% 15%;

    --accent-color: 15 80% 50%;

    --titlebar: 30 40% 78%;
    --actionbar: 30 38% 80%;
    --explorer: 30 40% 78%;
    --tab: 30 40% 78%;
    --statusbar: 40 35% 80%;

    --common-hover: 30 5% 97%;

    --statusbar-dev-remote-window: 51 50% 78%;

    --terminal: 40 35% 80%;

    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #c49262;

    --contactme-css-class: #000000;
    --contactme-css-property: #cc8323;
    --contactme-css-value: #5c6600;
    --contactme-css-alt-value: #14b14e;

    --code-class: #78b7fd;
    --code-property: #e16b7b;
    --code-value: #98c97b;
    --code-bracket: #8b99a5;
  }
  [data-theme="pinkish"] {
    --main: 330 50% 90%;
    --main-foreground: 330 50% 10%;

    --accent-color: 320 70% 60%;

    --titlebar: 330 30% 92%;
    --actionbar: 330 28% 95%;
    --explorer: 330 30% 92%;
    --tab: 330 30% 92%;
    --statusbar: 340 25% 95%;

    --common-hover: 330 15% 97%;

    --statusbar-dev-remote-window: 351 50% 90%;

    --terminal: 340 25% 95%;

    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #c49262;

    --contactme-css-class: #942f2f;
    --contactme-css-property: #ff0000;
    --contactme-css-value: #d638c9;
    --contactme-css-alt-value: #000000;

    --code-class: #78b7fd;
    --code-property: #e16b7b;
    --code-value: #98c97b;
    --code-bracket: #8b99a5;
  }
  [data-theme="solar"] {
    --main: 45 80% 92%;
    --main-foreground: 45 80% 10%;

    --accent-color: 30 90% 70%;

    --titlebar: 45 60% 96%;
    --actionbar: 45 58% 98%;
    --explorer: 45 60% 96%;
    --tab: 45 60% 96%;
    --statusbar: 55 55% 98%;

    --common-hover: 45 45% 99%;

    --statusbar-dev-remote-window: 66 50% 98%;

    --terminal: 55 55% 98%;

    --aboutme-css-class: #2e95d3;
    --aboutme-css-property: #d5626a;
    --aboutme-css-value: #c49262;

    --contactme-css-class: #000000;
    --contactme-css-property: #cc8323;
    --contactme-css-value: #5c6600;
    --contactme-css-alt-value: #14b14e;

    --code-class: #78b7fd;
    --code-property: #e16b7b;
    --code-value: #98c97b;
    --code-bracket: #8b99a5;
  }
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply bg-main text-main-FOREGROUND;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  /* #region ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #2f2c30;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded border-main-FOREGROUND bg-main-FOREGROUND/30 brightness-105;
  }
  /* #endregion ===== Scrollbar CSS ===== */

  .titlebar-height {
    @apply h-[45px] overflow-y-hidden;
  }

  .actionbar-active-shadow {
    @apply shadow-[inset_2px_0px] shadow-accent;
  }

  .about-me-skill-bar:before {
    content: "";
    @apply absolute top-[50%] w-full translate-y-[-50%] border-b-2 border-main-FOREGROUND/30 md:hidden sm:hidden;
  }

  .numbered-row::before {
    content: attr(data-number);
    padding-right: 5px;
  }

  .tab-fade {
    @apply sm:pl-2;
    mask-image: linear-gradient(
      transparent,
      hsl(var(--main)) 10%,
      hsl(var(--main)) 85%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      hsl(var(--main)) 10%,
      hsl(var(--main)) 85%,
      transparent 100%
    );
  }
}
